* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html {
  font-size: 20px;
}
body {
  overflow-x: hidden;
}
main {
  height: 100vh;
  position: relative;
  transition: 1.7s;
  transform: rotateY(0);                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
  transform-style: preserve-3d;
  width: 100%;
}
main section {
  backface-visibility: hidden;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
main section .sec_container {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  width: calc(100% + 17px);
}