* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html {
  font-size: 20px;
}
body {
  overflow-x: hidden;
}
main {
  min-height: 100vh;
  position: relative;
  transition: 1.7s;
//  transform: rotateY(-120deg);                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
  transform-style: preserve-3d;
  width: 100%;
}
main section {
  backface-visibility: hidden;
  display: none;
  min-height: 100vh;
  overflow-x: hidden;
  position: absolute;
  width: inherit;
}