* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
main {
  overflow: hidden;
  width: 100%;
}
main .sections {
  min-height: calc(100vh - 84px);
  overflow: hidden;
  position: relative;
  width: 100%;
}
main .sections section {
  left: 0;
  position: absolute;
  top: 0;
  transition: .3s;
  width: 100%;
}
main .sections section.section-loaded {
  transform: translateX(0);
}
main .sections section.hidden-left {
  transform: translateX(-100%);
}
main .sections section.hidden-right {
  transform: translateX(100%);
}
.noscroll {
  overflow: hidden;
}