$hero2: jb kael kotl lich lina lion meepo nec od om pa;
@each $name in $hero2 {
  $i: index($hero2, $name) - 1;
  .hero.#{$name} {
    background-image: url(../images/#{$name}.jpg);
    background-size: 100% 100%;
    transform: rotateY(360deg / length($hero2) * $i) translateZ(20rem);
  }
}