body {
	background-color: #eee;
}

.girl {
  bottom: 20%;
  cursor: pointer;
	height: 84px;
	opacity: .95;
	position: fixed;
  right: 10%;
	width: 120px;
	> * {
		background: url(../imgs/girl_sprites.png);
		position: absolute;
	}
  &.walking {
    /* 呆毛 刘海 */
    .fringe {
      animation: fringe 1s infinite alternate;
    }

    /* 裙子 */
    .skirt {
      animation: skirt 1.5s linear infinite;
    }

    /* 包 */
    .bag {
      animation: bag 1.5s linear infinite;
    }

    /* 挂饰 */
    .ornaments {
      animation: ornaments 1.5s linear infinite;
    }
    

    /* 左大腿 */
    .left-thigh {
      animation: left-thigh 1.5s .75s linear infinite;
    }

    /* 左小腿 */
    .left-shank {
      animation: left-shank 1.5s .75s linear infinite;
    }

    /* 右腿 */
    .right-leg {
      animation: right-leg 1.5s linear infinite;
    }
  }

	.fringe {
    background-position: -32px -44px;
    height: 44px;
    left: -6px;
    top: -30px;
    transition: .5s;
    transform-origin: 100% 100%;
    width: 38px; 
  }

  @keyframes fringe {
    0% {
      transform: rotate(0);
      transform-origin: 100% 100%;
    }

    100% {
      transform: rotate(15deg);
      transform-origin: 100% 100%;
    }
  }

  .hat {
    background-position: -79px -8px;
    height: 106px;
    right: -15px;
    top: -29px;
    width: 113px; 
  }

  .brim {
    background-position: -200px -12px;
    height: 78px;
    left: 22px;
    top: -15px;
    width: 91px;
    z-index: 2;
  }

  .headwear {
    background-position: -334px -32px;
    height: 86px;
    right: -41px;
    top: -28px;
    width: 64px;
    z-index: 2;
  }

  .hair {
    background-position: -25px -138px;
    height: 70px;
    left: 14px;
    top: -3px;
    width: 99px;
    z-index: 2;
  }

  .face {
    background-position: -174px -112px;
    height: 84px;
    width: 120px; 
    z-index: 1;
  }

  .plait1 {
    background-position: -400px -165px;
    bottom: -4px;
    height: 45px;
    right: 15px;
    width: 34px;
    z-index: 1;
  }

  .plait2 {
    background-position: -318px -160px;
    bottom: -26px;
    height: 42px;
    right: -10px;
    width: 59px;
  }


  .skirt {
    background-position: -54px -242px;
    bottom: -61px;
    height: 77px;
    left: 14px;
    width: 86px;
  }

  @keyframes skirt {
    0% {
      transform: rotate(0);
      transform-origin: 50% 20%;
    }

    25% {
      transform: rotate(3deg);
      transform-origin: 50% 20%;
    }

    50% {
      transform: rotate(3deg);
      transform-origin: 50% 20%;
    }

    100% {
      transform: rotate(0);
      transform-origin: 50% 20%;
    }
  }

  .right-eyelashes {
    background-position: -212px -210px;
    height: 26px;
    left: 22px;
    top: 21px;
    width: 24px;
    z-index: 1;
  }

  .left-eyelashes {
    background-position: -248px -214px;
    height: 29px;
    left: 59px;
    top: 25px;
    width: 29px;
    z-index: 1;
  }

  .eyelashes {
    background-position: -215px -211px;
    height: 32px;
    width: 63px;
    z-index: 1;
  }

  .eyes {
    background-position: -218px -254px;
    height: 23px;
    left: 30px;
    top: 34px;
    width: 49px;
    z-index: 1;
  }

  .mouse {
    background-position: -230px -289px;
    height: 21px;
    left: 37px;
    top: 58px;
    width: 21px;
    z-index: 1;
  }

  .right-arm {
    background: url(../imgs/girl_sprites.png) -342px -230px/ auto no-repeat,
    url(../imgs/girl_sprites.png) -325px -277px/ auto no-repeat;
    bottom: -28px;
    height: 35px;
    left: -1px;
    width: 56px; 
  }

  .left-arm {
    background-position: -390px -274px;
    bottom: -25px;
    height: 31px;
    left: 19px;
    width: 64px;
    z-index: 1;
  }

  .shoulder {
    background-position: -424px -346px;
    bottom: -25px;
    height: 35px;
    right: 31px;
    width: 24px;
  }

  .cake {
    background: url(../imgs/cake.png) 0 0/ contain no-repeat;
    bottom: -40px;
    height: 102px;
    left: -81px;
    width: 122px;
    z-index: 1;
  }

  .right-leg {
    background-position: -45px -347px;
    bottom: -98px;
    height: 59px;
    left: 31px;
    width: 36px;
    z-index: -1;
  }

  @keyframes right-leg {
    0% {
      transform: rotate(0);
      transform-origin: 70% 0%;
    }

    25% {
      transform: rotate(15deg);
      transform-origin: 70% 0%;
    }

    50% {
      transform: rotate(15deg) translateY(3px);
      transform-origin: 70% 0%;
    }

    100% {
      transform: rotate(0);
      transform-origin: 70% 0%;
    }
  }

  .left-thigh {
    background-position: -108px -330px;
    bottom: -74px;
    height: 31px;
    left: 50px;
    transform: rotate(7deg);
    width: 42px;
    z-index: -1;
  }

  @keyframes left-thigh {
    0% {
      transform: rotate(7deg);
      transform-origin: 50% 0%;
    }

    25% {
      transform: rotate(15deg);
      transform-origin: 50% 0%;
    }

    50% {
      transform: rotate(15deg);
      transform-origin: 50% 0%;
    }

    100% {
      transform: rotate(7deg);
      transform-origin: 50% 0%;
    }
  }

  .left-shank {
    background-position: -109px -367px;
    bottom: -99px;
    height: 37px;
    right: 33px;
    transform: rotate(7deg);
    width: 33px;
    z-index: -1;
  }

  @keyframes left-shank {
    0% {
      transform: rotate(7deg);
      transform-origin: 70% 0%;
    }

    25% {
      transform: rotate(23deg);
      transform-origin: 70% 0%;
    }

    50% {
      transform: rotate(23deg) translateY(3px);
      transform-origin: 70% 0%;
    }

    100% {
      transform: rotate(7deg);
      transform-origin: 70% 0%;
    }
  }

  .bag {
    background-position: -210px -333px;
    bottom: -57px;
    height: 61px;
    right: -28px;
    width: 72px;
    z-index: -1;
  }

  @keyframes bag {
    0% {
      transform: rotate(0);
      transform-origin: 20% 10%;
    }

    25% {
      transform: rotate(3deg);
      transform-origin: 20% 10%;
    }

    50% {
      transform: rotate(3deg);
      transform-origin: 20% 10%;
    }

    100% {
      transform: rotate(0);
      transform-origin: 20% 10%;
    }
  }

  .ornaments {
    background-position: -324px -338px;
    bottom: -89px;
    height: 65px;
    right: -53px;
    width: 79px;
    z-index: -1;
  }

  @keyframes ornaments {
    0% {
      transform: rotate(0);
      transform-origin: 5% 0;
    }

    25% {
      transform: rotate(3deg);
      transform-origin: 5% 0;
    }

    50% {
      transform: rotate(3deg);
      transform-origin: 5% 0;
    }

    100% {
      transform: rotate(0);
      transform-origin: 5% 0;
    }
  }

  .sleeve {
    background-position: -423px -343px;
    height: 39px;
    width: 27px; 
  }

  .shadow {
    background-position: -48px -431px;
    bottom: -103px;
    height: 11px;
    left: 6px;
    width: 116px;
    z-index: -9;
  }

  .stars {
    animation: stars 3s infinite alternate;
    background-position: -470px -40px;
    height: 37px;
    pointer-events: none;
    width: 67px;
    &.before {
      left: -40px;
      top: -40px;
      transform: rotate(-45deg);
    }
    &.after {
      right: -70px;
      top: -60px;
      transform: rotate(45deg);
    }
  }

  @keyframes stars {
    0% {
      opacity: 1;
    }

    70% {
      opacity: 1;
    }

    100% {
      opacity: .6;
    }
  }

  .small-star {
    background-position: -470px -40px;
    height: 36px;
    pointer-events: none;
    width: 22px;
    z-index: 3;
  }

  .big-star {
    background-position: -511px -38px;
    height: 38px;
    pointer-events: none;
    width: 27px;
    z-index: 3;
  }
}