main > div ul li:nth-child(1) div.stage ul li.back::after {
  content: "aa"; }

main > div ul li:nth-child(2) div.stage ul li.back::after {
  content: "bane"; }

main > div ul li:nth-child(3) div.stage ul li.back::after {
  content: "bat"; }

main > div ul li:nth-child(4) div.stage ul li.back::after {
  content: "chen"; }

main > div ul li:nth-child(5) div.stage ul li.back::after {
  content: "dp"; }

main > div ul li:nth-child(6) div.stage ul li.back::after {
  content: "ds"; }

main > div ul li:nth-child(7) div.stage ul li.back::after {
  content: "enig"; }

main > div ul li:nth-child(8) div.stage ul li.back::after {
  content: "fs"; }

main > div ul li:nth-child(9) div.stage ul li.back::after {
  content: "fur"; }

main > div ul li:nth-child(10) div.stage ul li.back::after {
  content: "gm"; }

main > div ul li:nth-child(11) div.stage ul li.back::after {
  content: "goblin"; }

main > div ul li:nth-child(12) div.stage ul li.back::after {
  content: "jb"; }

main > div ul li:nth-child(13) div.stage ul li.back::after {
  content: "kael"; }

main > div ul li:nth-child(14) div.stage ul li.back::after {
  content: "kotl"; }

main > div ul li:nth-child(15) div.stage ul li.back::after {
  content: "lich"; }

main > div ul li:nth-child(16) div.stage ul li.back::after {
  content: "lina"; }

main > div ul li:nth-child(17) div.stage ul li.back::after {
  content: "lion"; }

main > div ul li:nth-child(18) div.stage ul li.back::after {
  content: "meepo"; }

main > div ul li:nth-child(19) div.stage ul li.back::after {
  content: "nec"; }

main > div ul li:nth-child(20) div.stage ul li.back::after {
  content: "od"; }

main > div ul li:nth-child(21) div.stage ul li.back::after {
  content: "om"; }

main > div ul li:nth-child(22) div.stage ul li.back::after {
  content: "pa"; }

main > div ul li:nth-child(23) div.stage ul li.back::after {
  content: "pg"; }

main > div ul li:nth-child(24) div.stage ul li.back::after {
  content: "qop"; }

main > div ul li:nth-child(25) div.stage ul li.back::after {
  content: "sd"; }

main > div ul li:nth-child(26) div.stage ul li.back::after {
  content: "sf"; }

main > div ul li:nth-child(27) div.stage ul li.back::after {
  content: "sil"; }

main > div ul li:nth-child(28) div.stage ul li.back::after {
  content: "sm"; }

main > div ul li:nth-child(29) div.stage ul li.back::after {
  content: "sp"; }

main > div ul li:nth-child(30) div.stage ul li.back::after {
  content: "ss"; }

main > div ul li:nth-child(31) div.stage ul li.back::after {
  content: "storm"; }

main > div ul li:nth-child(32) div.stage ul li.back::after {
  content: "tb"; }

main > div ul li:nth-child(33) div.stage ul li.back::after {
  content: "thd"; }

main > div ul li:nth-child(34) div.stage ul li.back::after {
  content: "tk"; }

main > div ul li:nth-child(35) div.stage ul li.back::after {
  content: "ts"; }

main > div ul li:nth-child(36) div.stage ul li.back::after {
  content: "veno"; }

main > div ul li:nth-child(37) div.stage ul li.back::after {
  content: "vip"; }

main > div ul li:nth-child(38) div.stage ul li.back::after {
  content: "vis"; }

main > div ul li:nth-child(39) div.stage ul li.back::after {
  content: "wd"; }

main > div ul li:nth-child(40) div.stage ul li.back::after {
  content: "wl"; }

main > div ul li:nth-child(41) div.stage ul li.back::after {
  content: "wr"; }

main > div ul li:nth-child(42) div.stage ul li.back::after {
  content: "ww"; }

main > div ul li:nth-child(43) div.stage ul li.back::after {
  content: "zet"; }

main > div ul li:nth-child(44) div.stage ul li.back::after {
  content: "zeus"; }

main > div ul li:nth-child(1) div.stage ul li.face {
  background-image: url(../images/aa.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(2) div.stage ul li.face {
  background-image: url(../images/bane.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(3) div.stage ul li.face {
  background-image: url(../images/bat.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(4) div.stage ul li.face {
  background-image: url(../images/chen.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(5) div.stage ul li.face {
  background-image: url(../images/dp.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(6) div.stage ul li.face {
  background-image: url(../images/ds.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(7) div.stage ul li.face {
  background-image: url(../images/enig.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(8) div.stage ul li.face {
  background-image: url(../images/fs.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(9) div.stage ul li.face {
  background-image: url(../images/fur.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(10) div.stage ul li.face {
  background-image: url(../images/gm.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(11) div.stage ul li.face {
  background-image: url(../images/goblin.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(12) div.stage ul li.face {
  background-image: url(../images/jb.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(13) div.stage ul li.face {
  background-image: url(../images/kael.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(14) div.stage ul li.face {
  background-image: url(../images/kotl.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(15) div.stage ul li.face {
  background-image: url(../images/lich.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(16) div.stage ul li.face {
  background-image: url(../images/lina.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(17) div.stage ul li.face {
  background-image: url(../images/lion.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(18) div.stage ul li.face {
  background-image: url(../images/meepo.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(19) div.stage ul li.face {
  background-image: url(../images/nec.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(20) div.stage ul li.face {
  background-image: url(../images/od.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(21) div.stage ul li.face {
  background-image: url(../images/om.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(22) div.stage ul li.face {
  background-image: url(../images/pa.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(23) div.stage ul li.face {
  background-image: url(../images/pg.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(24) div.stage ul li.face {
  background-image: url(../images/qop.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(25) div.stage ul li.face {
  background-image: url(../images/sd.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(26) div.stage ul li.face {
  background-image: url(../images/sf.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(27) div.stage ul li.face {
  background-image: url(../images/sil.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(28) div.stage ul li.face {
  background-image: url(../images/sm.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(29) div.stage ul li.face {
  background-image: url(../images/sp.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(30) div.stage ul li.face {
  background-image: url(../images/ss.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(31) div.stage ul li.face {
  background-image: url(../images/storm.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(32) div.stage ul li.face {
  background-image: url(../images/tb.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(33) div.stage ul li.face {
  background-image: url(../images/thd.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(34) div.stage ul li.face {
  background-image: url(../images/tk.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(35) div.stage ul li.face {
  background-image: url(../images/ts.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(36) div.stage ul li.face {
  background-image: url(../images/veno.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(37) div.stage ul li.face {
  background-image: url(../images/vip.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(38) div.stage ul li.face {
  background-image: url(../images/vis.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(39) div.stage ul li.face {
  background-image: url(../images/wd.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(40) div.stage ul li.face {
  background-image: url(../images/wl.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(41) div.stage ul li.face {
  background-image: url(../images/wr.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(42) div.stage ul li.face {
  background-image: url(../images/ww.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(43) div.stage ul li.face {
  background-image: url(../images/zet.jpg);
  background-size: 100% 100%; }

main > div ul li:nth-child(44) div.stage ul li.face {
  background-image: url(../images/zeus.jpg);
  background-size: 100% 100%; }
