section.pi_sec {
  .sec_container {
    padding: 5% 5% 0;
    #myinfo {
      margin: 0 0 5rem;
      padding: 5% 5% 1%;
      transition: .3s;
      h1 {
        margin: 0 0 1rem;
        position: relative;
      }
      h1::before {
        animation: h1c 7s linear infinite alternate;
        content: '个人简介：';
        color: #fff;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
      }
      p {
        border-bottom: 1px solid #eee;
        line-height: 3rem;
        text-indent: 2rem;
      }
      p span, p a {
        animation: shadowblink 7s linear infinite;
        font-family: "KaiTi",serif;
        text-shadow: 0 0 1px #000;
      }
      p a {
        color: #000;
        transition: .2s;
      }
      p a:hover {
        color: #f5cd13;
        font-size: 1.3rem;
      }
      p:last-child a {
        text-decoration: underline;
      }
      p:last-child a:hover {
        cursor: pointer;
        font-size: 1.1rem;
      }
    }
    #myinfo:hover {
      background: rgba(0, 255, 255, .07);
      box-shadow: 0 0 10px #999;
    }
    #more {
      margin: 0 0 5rem;
      transition: .3s;
      h1 {
        color: #f5cd13;
        margin: 0 0 1rem;
        position: relative;
      }
      h1::before {
        animation: h1c 7s linear infinite alternate;
        content: 'More:';
        color: #000;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
      }
      p {
        height: 4rem;
        line-height: 4rem;
        margin: 0 0 2rem;
        text-align: center;
        a {
          color: #f5cd13;
          text-shadow: 0 0 2px #f5cd13;
        }
      }
    }
    #more:hover {
      box-shadow: 0 0 50px #f5cd13;
      cursor: pointer;
    }
  }
}
@keyframes shadowblink {
  0% {text-shadow: 0 0 0 #000;}
  50% {text-shadow: 0 0 1.5px #000;}
  100% {text-shadow: 0 0 0 #000;}
}
@keyframes h1c {
  from {height: 0;}
  to {height: 100%;}
}
@media screen and (max-width: 768px) {
  section.pi_sec {
    .sec_container {
      #myinfo {
        p:last-child a {
          display: block;
        }
      }
    }
  }
}